
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  .navbar-brand 
  {
      padding-top: 0;
  }
  .navbar-brand>img {
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 250px;
    line-height: 72px; /* whatever the fixed height of the bar is */
    vertical-align: middle;
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}
  
ul.nav li a, ul.nav li a:visited {
  color: blue !important;
}

ul.nav li a:hover, ul.nav li a:active {
  color: rosybrown !important;
}

ul.nav li.active a {
  color: peru !important;
}
