<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
    <a class="navbar-brand" href="#"> <img src="../../assets/images/Logo3.PNG" class="img-circle mg-responsive" alt="henrit track" width= 90% height= 150%> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home &nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="about">about us &nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="product">product &nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="contact">contact us &nbsp;&nbsp;&nbsp;</a>
        </li>
      </ul>
      <a class="float-right" style ="text-decoration: none;  color: hotpink; font-size:1.2em;" href="http://174.142.39.183/webgps" target="_blank"> <i class="fa fa-user fa-1x" aria-hidden="true"></i> &nbsp; Login</a>
    </div>  
  
  </div>
  </nav>

</header>
<div class="container" style="background-color:#FFF5EE;">
<router-outlet>
</router-outlet>

</div>
<footer class="container" style="background-color:black; color:white">
    <p class="float-right"><a href="#" style="color:white">Back to top</a></p>
  <p>
            © 2017 Henrit Track All rights reserved</p>
           
</footer>